<nd-content>
  <main class="row" content>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Feeds</h4>
          <nd-patient-form-create></nd-patient-form-create>
          <form class="form-control">
            <input placeholder="Nome" [(ngModel)]="person.name" name="name" class="form-control">
            <input placeholder="Nascimento" type="date" [(ngModel)]="person.date_birth" name="date_birth"
              class="form-control">

            <button type="submit" class="btn btn-success">Salvar</button>
          </form>
        </div>
      </div>
    </div>
    <ng-template #ndfooter></ng-template>
  </main>
</nd-content>