<mat-toolbar color="primary" class="example-toolbar">
    <div class="col-4">
        <div class="row">
            <button class="btn btn-light" (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="text-light ml-4 d-flex align-items-center">NutriDiet</h1>
        </div>
    </div>

    <div class="col-4"></div>

    <div class="col-4 text-right">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn text-white">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item [routerLink]="['/auth']" [queryParams]="{ logout: true}">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode="side" fixedTopGap="56" [opened]="false">
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>