<nd-content>
    <main content>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Feeds</h4>
                        <nd-datatable [model]="getModel()" [columns]="getColumns()">
                        </nd-datatable>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #ndfooter></ng-template>
    </main>
</nd-content>