<nd-content>
    <main content>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <nd-datatable-server-side [model]="model" [columns]="getColumns()">
                        </nd-datatable-server-side>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <footer class="page-footer font-small blue pr-1 pb-2 bg-light">
            <div class="container-fluid text-right">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary ml-1" (click)="goToManagerCreate()">Novo</button>
                    </div>
                </div>
            </div>
        </footer>
    </main>
</nd-content>