::ng-deep .info {
    background-color: #2196F3;
}
::ng-deep .success {
    background-color: #1DE9B6;
}
::ng-deep .error {
    background-color: #B00020;
}

.mat-simple-snackbar-action .mat-button-wrapper {
    color: #fff;
}

.dialog-warning {
    background-color: #ffb22e !important;
    color: #fff !important;
    white-space: pre-wrap;
}

.dialog-danger {
    background-color: #cc1717 !important;
    color: #fff !important;
    white-space: pre-wrap;
}